/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/header/header-theme.scss';

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include header-theme($theme);

button[disabled] {
    cursor: not-allowed;
}

body {
    margin: 0;
}